@import "open-props/colors-hsl";

body {
	background-color: var(--cds-ui-background);
}

:root[theme="white"] {
	body {
		background-color: hsl(var(--blue-5-hsl) / 15%);
	}
}

hr {
	margin: 3rem 1rem 1rem;
	color: hsl(var(--gray-1-hsl));
}

.quote {
	padding: var(--cds-spacing-08);
}
