@use "carbon-components/scss/globals/scss/spacing" as spc;
@import "https://fonts.googleapis.com/css2?family=Lora&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap";

// Border radius
$border-radius: 0.175rem;

// Text
$p-default-max-width: 75ch;
$p-lead-default-max-width: 55ch;

// Font
$header-font-family: Inter, IBM Plex Sans, ui-sans-serif, system-ui, -apple-system, Helvetica Neue,
	Arial, sans-serif;
$pageheader-font-weight: 800;
$header-font-weight: 600;

$body-font-family: Inter, IBM Plex Sans, ui-sans-serif, system-ui, -apple-system, Helvetica Neue,
	Arial, sans-serif;
$body-font-weight: 400;

$quotation-font-family: Lora, "IBM Plex Serif", system-ui, -apple-system, BlinkMacSystemFont,
	".SFNSText-Regular", serif;

// Carbon design system spacing
// number corresponds to equivalent pixel units in rem
$spacing-1: spc.$spacing-4xs;
$spacing-2: spc.$spacing-3xs;
$spacing-4: spc.$spacing-2xs;
$spacing-8: spc.$spacing-xs;
$spacing-12: spc.$spacing-sm;
$spacing-16: spc.$spacing-md;
$spacing-24: spc.$spacing-lg;
$spacing-32: spc.$spacing-xl;
$spacing-40: spc.$spacing-2xl;
$spacing-48: spc.$spacing-3xl;
$spacing-64: spc.$layout-lg;
$spacing-96: spc.$layout-xl;
$spacing-160: spc.$layout-2xl;
