@use "carbon-components/scss/globals/scss/spacing" as spc;
@import "open-props/colors";

// Carbon theme tokens for custom theme
$interactive-01: var(--blue-8);
$interactive-02: var(--pink-7);

// Border radius
$border-radius: 0.175rem;

// Text
$p-default-max-width: 75ch;
$p-lead-default-max-width: 55ch;

// Carbon design system spacing
// number corresponds to equivalent pixel units in rem
$spacing-1: spc.$spacing-4xs;
$spacing-2: spc.$spacing-3xs;
$spacing-4: spc.$spacing-2xs;
$spacing-8: spc.$spacing-xs;
$spacing-12: spc.$spacing-sm;
$spacing-16: spc.$spacing-md;
$spacing-24: spc.$spacing-lg;
$spacing-32: spc.$spacing-xl;
$spacing-40: spc.$spacing-2xl;
$spacing-48: spc.$spacing-3xl;
$spacing-64: spc.$layout-lg;
$spacing-96: spc.$layout-xl;
$spacing-160: spc.$layout-2xl;
